<%- include("header") %> 
<h1>About Us</h1>
<h3>Vision Statement</h3>
<p>To be the "Go -to " coding school for all things computer and IT services education all aroun d the world </p>
<h3>Mission Statement</h3>
<p>To teach people how to code ,Helping them develop successful career in it </p>
<h3>Core Values</h3>
<ul>
    <li>Reliability</li>
    <li>Responsibility</li>
    <li>Accountability</li>
    <li>Efficiency</li>
</ul>
<%- include("footer") %> 