<%- include("header") %> 
  <h2>How to Reach Us</h2>
  <h4>Ikeja Office</h4>
  <p>The Code Center</p>
  <p>35,olowu street,</p>
  <p>Ikeja Lagos</p>
  <p>Tel: <strong>08023231876</strong></p>
  <h4>Lekki Office</h4>
  <p>TCC House</p>
  <p>PLOT 32,Lekki-Epe Express Way</p>
  <p>Lekki -Jakande,Lekki</p>
  <p>Tel: <strong>08032328712</strong></p>
  <h4>Johannesburg Office</h4>
  <p>The code center house</p>
  <p>Quite Lane Residence</p>
  <p>Sndton ,J'burg</p>
  <p>Tel: <strong>+211-501-633-826</strong></p>
    <h2>Shoot Us a Mall</h2>
    <p>Your Email: <input type="text" name="" id=""></p>
    <p>Your subject: <input type="text" name="" id=""></p>
    <p>Message: <br> <textarea name="" id="" cols="30" rows="15"></textarea></p>
    <button>submit</button>

<%- include("footer") %> 