<%- include("header") %>

<h1>We teach people how to code ,helping them develop a successful career in it
</h1>
<h4>Courses</h4>
<p>Fullstack Development</p>
<img src="images/Fullstack.png"  width="500" alt="">
<p>Software Development</p>
<img src="images/Software Development.png" width="500" alt="">
<p>Frontend Development
</p>
<img src="images/FrontendDevelopment.png" width="500" alt="">
<%- include("footer") %> 